<!doctype HTML>
<head>
<title>Design Services</title>
	<link rel="stylesheet" href="/static/foundation.css">
	<link rel="stylesheet" href="/static/foundation.min.css">
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
<div id=narrowtop >
    <ul style="list-style: none;margin-left:77%">
        <li style="display: inline"><a href="tel:040 660660454"><img src="/static/phone.png" style="width:14px;height: 12px;"> +9109014324646</a></li>
        <li style="display: inline"> | </li>
        <li style="display: inline"><a href="mailto:wecare@customfurnish.com"><img src="/static/email.png" style="width:13px ;height: 10px;"> wecare@customfurnish.com</a></li>
    </ul>
</div>
<div class="header" >
    <nav class="top-bar " data-topbar role="navigation" >
      <section class="top-bar-section " >
      <ul class="left">
            <li>
                <a href="/">
                    <img src="{{url_for('static', filename='custom-furnish-small.png')}}">
                </a>
            </li>
        </ul>
      <ul class="right" >
          <li><a href="#" >HOME</a></li>
          <li><a href="#">DESIGN SERVICE</a></li>
          <li><a href="#">SAMPLE PROJECT</a></li>
          <li><a href="#">TESTIMONIALS</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </section>
    </nav>
</div>

<hr style="background-color: tomato; height: 2px; border: 0; ">


<div class="row column large-5 small-6 large-centered small-centered" >
    <div style="font-size: 20px;text-align: center;font-weight: 600">
        DESIGN SERVICE <span style="font-size: 12px;">STARTS FROM</span> Rs 20,000/-*
    </div>
</div>
<div id="flow" >
    <ul class="inline-list"  class="tabs" data-tab style="padding: 60px 60px 0px 16%;">
        <li class="tab-title active"><a  href="#bookorder" ><img src="/static/icon-hand-s.png" style="height: 160px;"><br>BOOK ORDER</a></li>
        <li><img class="arro" src="/static/arrow-small.png"></li>
        <li class="tab-title"><a href="#furniturelayout" style="border:2px solid #498a41"><img src="/static/images.png" style="height: 160px;"><br>FURNITURE LAYOUT</a></li>
        <li><img class=arro src="/static/arrow-small.png"></li>
        <li class="tab-title"><a href="#design" style="border:2px solid #b30404"><img src="/static/3d.png" style="height: 160px;"><br>3D DESIGNS</a></li>
        <li><img class=arro src="/static/arrow-small.png"></li>
        <li class="tab-title"><a href="#productiondocs"><img src="/static/production.png" style="height: 160px;"><br>DOCUMENTS</a></li>
    </ul>
    <div class="tabs-content" style="margin-top: 25px">
        <div class="content active"  id="bookorder">
            <div class="arrow_box" style="padding: 25px 100px">
                <img src="/static/floorplan.png" style="vertical-align:top;height: 200px;width:200px; background-color: lightgray">
                Our designer will contanct you to understand your requirements and to take inputs
            </div>
        </div>
        <div class="content"  id="furniturelayout">
            <div class="arrow_box">Layout design by highly qualified professionals</div>
        </div>
        <div class="content"  id="design">
            <div class="arrow_box">3D design demo </div>
        </div>
        <div class="content"  id="productiondocs">
            <div class="arrow_box">Handing over production documents</div>
        </div>
    </div>
</div>



<div class="formonimage">
    <form data-abide>
        <div class="row">
            <div class="columns large-2 small-2" style="padding-right: 4px">
                <input type="text" placeholder="Name">
            </div>
            <div class="columns large-3 small-3"  style="padding: 0px 0px 0px 0px;">
                <input type="text" placeholder="Email" pattern="email">
            </div>
            <div class="columns large-2 small-2" style="padding: 0px 0px 0px 4px;">
                <input type="tel" placeholder="Phone">
            </div>
            <div class="columns large-2 small-2">
                <a class="button" href="#" style="padding: 12px 0px 10px 0px;">CONTACT ME</a>
            </div>
            <div class="columns large-2 small-2" style="padding: 5px 0px 0px 0px;">
                <a href="#" id=contactme style="">VIEW PACKAGES</a>
            </div>
        </div>

    </form>
</div>


<div style="padding: 0px 140px;" class="row columns small-12 small-centered">* Get all production ready documents- Designs, Engineering Drawings, Bill of materials </div>




<div class="row tags" style="padding: 12% 0% 1% 0%; border-bottom: 1px solid #4d4d4d;text-align: center">
    <div class="columns large-3 large-centered">
        <div>PACKAGES</div>
    </div>
</div>

<div style="margin:1% 0% 0% 0%;background-color: lightgray">
    <div class="row" style="padding-top:5%">
        <div class="columns small-12 large-7 " style="padding: 0% 6% 5% 3%;">
            <div style="background-color: white ;border: 1px solid rgba(7, 39, 79, 0.46); padding: 4% 0 15% 0">
                <table style="border-collapse: collapse" width=90% align=center>
                    <tr >
                        <th style="color: red;">TYPE OF PACKAGE</th>
                        <th style="color: red;">PRICE</th>
                    </tr>
                    <tr>
                        <td>1-BHK</td>
                        <td>Rs 20,000/-</td>
                    </tr>
                    <tr><td>2-BHK</td>
                        <td>Rs 30,000/-</td>
                    </tr>
                    <tr>
                        <td>3-BHK</td>
                        <td>Rs 45,000/-</td>
                    </tr>
                    <tr>
                        <td>4-BHK</td>
                        <td>Rs 60,000/-</td>
                    </tr>
                    <tr>
                        <td>VILLA</td>
                        <td>Rs 75,000/-</td>
                    </tr>
                </table><br>
                <div style="padding-left: 5%;
                ">Includes Space Layout & Furniture design, <br>3d renders,
                Walkthrough, BOM and Engineering drawings, Estimate<br><br>
                The design can be revised till you are fully satisfied.<br><br>
                We will provide manufacture & installation.</div>
            </div>
        </div>

        <div class="columns small-12 large-4" style="background-color: whitesmoke ;border: 1px solid rgba(7, 39, 79, 0.46)"  >

            <form style="padding: 4% 2% 15% 2%;height: 523px;">
                <div style="font-size: 12px;">SUBMIT YOUR DETAILS WITH YOUR FLOOR PLAN<br><br></div>
                <input type="text" placeholder="NAME">
                <input type="email" placeholder="EMAIL">
                <input type="tel" placeholder="PHONE">
                <input type="text" pattern="[0-9]{6}" placeholder="CITY PINCODE">
                <select>
                    <option selected DISABLED>SELECT PACKAGE</option>
                    <option>1-BHK</option>
                    <option>2-BHK</option>
                    <option>3-BHK</option>
                </select>
                <input type="file" placeholder="UPLOAD">
                <textarea placeholder="NOTES" rows="5"></textarea>
                <a class="button " href="#" style="padding: 12px 36px 10px 36px;">BOOK NOW</a>
                <a href="#" style="padding-left: 6%; text-decoration: underline; font-size: 12px">Need Assistance?</a>
            </form>
        </div>
    </div>
</div>


<div class="row tags" style="padding: 5% 0% 1% 0%; border-bottom: 1px solid #4d4d4d ;text-align: center">
    <div class="columns large-3 large-centered">
        <div>WHAT WE OFFER</div>
    </div>
</div>

<div class="row" data-equalizer style="padding-top:2% " >
    <div class="columns small-6 large-6" data-equalizer-watch>
        <div class="mypanel">
            <img src="/static/plan.png" style="display: block;margin: auto;">
            <div style="text-align:center;color:white;background-color: #007095 ; padding:4% 0 0 0%">
                DESIGN ONLY<br>
                Space layout & Furniture design, 3D renders, Walkthrough,BOM<br>
                and Engineering drawings, Estimate<br><br><br><br>
                <a href="#" style="color: white;text-decoration: underline">Click Here to Know more</a>
            </div>
        </div>
    </div>
    <div class="columns small-6 large-6" data-equalizer-watch >
        <div class="mypanel">
            <img src="/static/deco.png" style="display: block;margin: auto;">
            <div style="text-align:center;color:white;background-color: #007095 ; padding:4% 0 0 0%">
                DESIGN & EXECUTE*<br>
                Space layout & Furniture design, 3D renders, Walkthrough,BOM<br>
                and Engineering drawings, Estimate<br>
                + <br>
                <strong>Manufacture & Install</strong><br><br>
                <a href="#" style="color: white;text-decoration: underline">Click Here to Know more</a>
            </div>
        </div>
        <div style="font-size: 11px;float: right;">*AVAILABLE ONLY IN BANGALORE,HYDERBAD</div>
    </div>
</div>

<div class="row tags" style="padding: 5% 0% 1% 0%; border-bottom: 1px solid #4d4d4d ;text-align: center">
    <div class="columns large-3 large-centered">
        <div>WHY US?</div>
    </div>
</div>

<div class="row" style="padding: 5% 0% 5% 0%;">
    <div class="columns large-3 small-6 pkg">
        <img src="/static/circle-2_edit.png"><br>
        100+ HIGHLY QUALIFIED INTERIOR DESIGNERS

    </div>
    <div class="columns large-3 small-6 pkg">
        <img src="/static/circle-3_edit.png"><br>
        ACCORDING TO YOUR PREFERENCES

    </div>
    <div class="columns large-3 small-6 pkg">
        <img src="/static/circle-1_edit.png"><br>
        VISUALIZE YOUR HOUSE BEFORE YOU DECIDE TO IMPLEMENT

    </div>
    <div class="columns large-3 small-6 pkg">
        <img src="/static/circle-4_edit.png"><br>
        IN-HOUSE CAPABILITIES TO DESIGN,MANUFACTURE & INSTALL THE DESIGNS PROPOSED

    </div>
</div>

<div class="row tags" style="padding: 0% 0% 1% 0%; border-bottom: 1px solid #4d4d4d ;text-align: center">
    <div class="columns large-3 large-centered">
        <div>SAMPLE PROJECT</div>
    </div>
</div>

<div class="row" style="padding: 3% 0% 5% 0%;">
    <div class="columns large-8 small-8 large-centered small-centered">
        <div class="flex-video" style="position:relative;">
            <iframe style="width:600px ;height:600px;background-color: #4d4d4d "></iframe>
            <div style="text-align:center;color:white;position:absolute;top:44%;left: 18%;">SAMPLE PROJECT <br>VIDEO/WALKTHROUGH/INTERACTIVE CONTENT</div>
        </div>
    </div>
</div>

<div class="row tags" style="padding: 0% 0% 1% 0%; border-bottom: 1px solid #4d4d4d ;text-align: center">
    <div class="columns large-3 large-centered">
        <div>GALLERY</div>
    </div>
</div>
<div id="gallery">
    <div class="row columns small-12 large-12  large-centered small-centered" style="padding-top: 25px">
        <ul class="large-block-grid-2 medium-block-grid-2 small-block-grid-1">
            <li class="hvr-sweep-to-top"><img src="/static/gallerypic1.png"></li>
            <li><ul class="large-block-grid-2 medium-block-grid-2 small-block-grid-1" style="padding: 0px 8px;">
                    <li class="hvr-sweep-to-top"><img src="/static/gallerypic2.png" width="247" height="144"> </li>
                    <li class="hvr-sweep-to-top"><img src="/static/gallerypic2.png" width="247" height="144"> </li>
                    <li class="hvr-sweep-to-top"><img src="/static/gallerypic2.png" width="247" height="144"> </li>
                    <li class="hvr-sweep-to-top" ><a href="#"><img src="/static/gallerypic2more.png" width="247" height="144"></a> </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div style="background-color: #4e4e4e  ">
<div class="row" style="padding: 3% 0% 1% 0%; border-bottom: 1px solid white ;text-align: center">
    <div class="columns large-3 large-centered" >
        <div style="color: white;"><b>TESTIMONIALS</b></div>
    </div>
</div>

<div class="row " data-equalizer style="padding: 20px;">
    <div class="columns large-3 medium-3 small-6" data-equalizer-watch style="padding:0px 10px;TEXT-ALIGN: left; FONT-SIZE: 12px;">
        <div class="panel" style="background-color:white;">
            <img src="/static/testimonial.jpg">
            <div>WE PLACED A FULL-HOUSE FURNITURE ORDER WITH CUSTOM FURNISH,
            THEY HAVE BEAUTIFULLY FURNISHED MY HOME</div>
        </div>
    </div>
    <div class="columns large-3 medium-3 small-6" data-equalizer-watch style="padding:0px 10px;TEXT-ALIGN: left; FONT-SIZE: 12px;">
        <div class="panel" style="background-color:white;">
            <img src="/static/testimonial.jpg">WE PLACED A FULL-HOUSE FURNITURE ORDER WITH CUSTOM FURNISH, THEY HAVE BEAUTIFULLY FURNISHED MY HOME</div>
    </div>
    <div class="columns large-3 medium-3 small-6" data-equalizer-watch style="padding:0px 10px;TEXT-ALIGN: left; FONT-SIZE: 12px;">
        <div class="panel" style="background-color:white;">
            <img src="/static/testimonial.jpg">WE PLACED A FULL-HOUSE FURNITURE ORDER WITH CUSTOM FURNISH, THEY HAVE BEAUTIFULLY FURNISHED MY HOME</div>
    </div>
    <div class="columns large-3 medium-3 small-6" data-equalizer-watch style="padding:0px 10px;TEXT-ALIGN: left; FONT-SIZE: 12px;">
        <div class="panel" style="background-color:white;">
            <img src="/static/testimonial.jpg">WE PLACED A FULL-HOUSE FURNITURE ORDER WITH CUSTOM FURNISH, THEY HAVE BEAUTIFULLY FURNISHED MY HOME</div>
    </div>
</div>
</div>


<div class="row tags" style="padding: 5% 0% 1% 0%; border-bottom: 1px solid #4d4d4d ;text-align: center">
    <div class="columns large-3 large-centered">
        <div>FAQ</div>
    </div>
</div>
<div style="padding: 10px 100px ">
    <p class="question">How do I book an order with CustomFurnish.com?</p>
    <p class="answer">Ans:You can book an order with us online by clicking on the BOOK NOW buttoon and furnishing all the mandatory information & files.</p>

    <p class="question">Is the booking amount refundable?</p>
    <p class="answer">Ans:If you are opting for the Design only package, then the amount you pay is the design fee and is not refundable.
        However if you select Design & Execute package, the amount you pay at the time of booking will be absorbed in the total project cost.
    </p>

    <p class="question">Can I switch the package I select at a later point?</p>
    <p class="answer">
      Ans:You are free to switch from one package to the other at any time. If you decide to switch from Design Only to
        Design and Execute, your booking amount will be absorbed in the total project cost. However, if you sign up for
        Design and Execute package and later decide to avail only design services, we'll not be providing you the Design,
        BOM & Engineering drawings.
    </p>
 </div>
<div id="footer">
<div class="row" >
    <div class="columns small-3 large-3">
        <div class="footer-heading">CUSTOMFURNISH</div>
        <ul style="list-style: none">
            <li><a class="headlink" href="#">About Us</a></li>
            <li><a class="headlink" href="#">Terms & conditions</a></li>
            <li><a class="headlink" href="#">Privacy Policy</a></li>
            <li><a class="headlink" href="#">Delivery & Return policy</a></li>
        </ul>
    </div>
    <div class="columns small-3 large-3">
        <div class="footer-heading">COLLECTIONS</div>
        <ul style="list-style: none">
            <li><a class="headlink" href="#">Sofas</a></li>
            <li><a class="headlink" href="#">Wardrobes</a></li>
            <li><a class="headlink" href="#">Kitchens</a></li>
        </ul>
    </div>
    <div class="columns small-3 large-3">
        <div class="footer-heading">FOLLOW US</div>
        <ul style="list-style: none">
            <li><a class="headlink" href="#">Twitter</a></li>
            <li><a class="headlink" href="#">Facebook</a></li>
            <li><a class="headlink" href="#">Pintrest</a></li>
            <li><a class="headlink" href="#">Google</a></li>
        </ul>
    </div>
    <div class="columns small-3 large-3">
        <div class="footer-heading">CONTACT US</div>
        <ul style="list-style: none">
            <li><a class="headlink" href="tel:+91 9014324646"><img src="/static/phone.png" style="height: 15px;"> +91 9014324646</a></li>
            <li><a class="headlink" href="mailto:wecare@customfurnish.com"><img src="/static/email.png" style="height: 12px;"> wecare@customfurnish.com</a></li>
        </ul>
    </div>
</div>

<div class="row" style="background-color: #f5f0e1;">
    <div class="column small-3 large-3 small-centered large-centered">
        <img src="/static/visa.png">
    </div>
</div>

<div class="row">
    <div class="columns small-8 medium-8 large-8  large-centered" style="font-size: 12px;padding-left: 150px">
        SignUp for our newsletter and you could win exciting offers and shopping vouchers!
    </div>
</div>
    <form>
        <div class="row" style="padding-left: 390px">
            <div class="columns small-6 medium-5 large-5" >
                <input type="text" placeholder="your email address">
            </div>
            <div class="columns small-5 medium-2 large-2 medium-centered large-centered " >
                <div class="small button">SUBSCRIBE</div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="/static/foundation.min.js"></script>
<script type="text/javascript" src="/static/modernizr.js"></script>
<script src="/static/jquery.js"></script>
<script src="/static/foundation.js"></script>
<script src="/static/foundation.accordion.js"></script>
<script src="/static/foundation.equalizer.js"></script>
<script>
   $(document).ready(function() {
     $(document).foundation();
   })
</script>

</body>